{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block page_title %}
<div class="d-flex gap-3 align-items-center">
    <h1>Log In</h1>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <form action="" method="POST">
        <div class="col">
                {% bootstrap_form form layout='horizontal' %}
                    <button type="submit" class="btn btn-primary mb-3">Log In!</button>
                    <div>
                        <a href="{% url 'signup' %}">Create new account</a>
                    </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block right_section %}
    {% include 'layouts/tag_section.html' %}
{% endblock %}


     