{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
        {% include 'layouts/page_question_card.html' with question=item %}
<hr>
<div class="row justify-content-center">
        <div class="col-11">
                {% for answer in answers %}
                        {% include 'layouts/response_card.html'%} 
                {% endfor %}
                {% if request.user.is_authenticated %}
                <form action="" method="POST">
                    {% bootstrap_form form layout='horizontal' %}
                    <button type="submit" class="btn btn-primary mb-3">Answer!</button>
                    </form>
                {% endif %}
        </div>
</div>
{% endblock %}
{% block right_section %}
    {% include 'layouts/tag_section.html' %}
{% endblock %}