{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
        {% include 'layouts/page_question_card.html' with question=item %}
<hr>
<div class="row justify-content-center">
        <div class="col-11">
                {% for answer in answers %}
                        {% include 'layouts/response_card.html'%} 
                {% endfor %}
                {% if request.user.is_authenticated %}
                <form action="" method="POST">
                        <div class="col">
                            <div class="row">
                                <div class="col-2">
                                    <label for="answerform" class="col-form-label">Your answer</label>
                                </div>
                                <div class="col">
                                    <input class="form-control mb-3" type="text" name="answer" id="answerform">
                                    <button type="submit" class="btn btn-primary mb-3">Answer!</button>
                                </div>
                            </div>
                        </div>
                    </form>
                {% endif %}
        </div>
</div>
{% endblock %}
{% block right_section %}
    {% include 'layouts/tag_section.html' %}
{% endblock %}