{% extends 'layouts/base.html' %}
{% load static %}
{% block page_title %}
<div class="d-flex gap-3 align-items-center">
    <h1>Search: {{title}}</h1>
</div>
{% endblock %}

{% block content %}
            {% for question in questions %}
                {% include 'layouts/base_question_card.html' %}
            {% endfor %}
            <a href="{% url 'ask' %}">Didn't found right question? Ask!</a>
            {% include 'layouts/pagination.html' with page=page_obj %}
{% endblock %}
{% block right_section %}
    {% include 'layouts/tag_section.html' %}
{% endblock %}
