{% load static %}
<div class="card mb-2 mt-1">
    <div class="row g-0">
        
        <div class="col-2 d-flex flex-column align-items-center p-2">
            <img src="{% static 'img/freak.jpg' %}" class="card-img mb-2 w-75" alt="Avatar">
            <input class="form-control w-75" type="number" value="{% question.likes_count %}" ></input>
        </div>
        <div class="col-10 p-2">
            <h5>
                <a class="card-title" href="{% url 'question' question_id=question.id %}">{{ question.title }}</a>
            </h5>
            <p class="card-text">{{ question.body }}</p>
            <div class="d-flex">
                <div class="align-self-end">
                    {% for tag in question.tags %}
                      <a href="{% url 'tag' question_tag=tag %}" class="card-link">{{tag}}</a>
                    {% endfor %}
                </div>
            </div> 
        </div>
        
    </div>
</div>