{% load static %}
<div class="card border-dark mb-2 mt-1">
    <div class="row g-0">
        
        <div class="col-3 d-flex flex-column align-items-center p-2">
            <img src="photo_2024-08-26_23-04-41.jpg" class="card-img mb-2" alt="Avatar">
            <input class="form-control" type="number" value=answer.likes_count ></input>
        </div>
        <div class="col-9 p-2">
            <h5 class="card-title">{{answer.user.username}}</h5>
            <p class="card-text">{{answer.body}}</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="correctanswer" checked>
                <label class="form-check-label" for="correctanswer">
                  Correct!
                </label>
              </div>
              
        </div>
        
    </div>
</div>